.rigister_form_parent{
display: flex;
flex-direction: column;
gap: 25px;
background-color: rgb(32, 48, 26);
padding: 50px;
font-size:20px ;
color: rgb(157, 209, 236);
border-radius: 10px;
cursor: pointer;
text-align: center;
margin-left: 200px;
margin-top: 50px;
}
.rigister_form_parent input{
    border-radius: 10px;
}
.rigister_form_child1{
    display: flex;
    font-size: 30px;
    color: rgb(122, 217, 255);
}
.rigister_form_child2{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}
.rigister_form_child3{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.rigister_form_child4{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.rigister_form_child5{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.rigister_form_child6{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.rigister_form_child6 div button {
    width: 300px;
    border-radius: 20px;
    background-color: rgb(0, 226, 207);
}

.rigister_form_child1_button{
    width: 150px;
    font-size: 16px;
    margin-left: 20px;
    background-color: rgb(138, 235, 11);
    color: rgb(83, 40, 40);
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    .rigister_form_parent{
        margin: 0%;
        width: 400px;
        background-color: rgb(62, 92, 55);
    }
.rigister_form_child2{
    display: flex;
    flex-direction: column;
    gap: 0;
   
}
.rigister_form_child2 input {
    width: 100%;
    border-radius: 10px;
}
.rigister_form_child3 input {
    width: 100%;
    border-radius: 10px;
}
.rigister_form_child4 input {
    width: 100%;
    border-radius: 10px;
}
.rigister_form_child3{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.rigister_form_child4{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.rigister_form_child1_button{
    width: auto;
    margin-right: 10px;
}
 }