._parent_app{
text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  font-size: 16px;
  color: rgb(0, 0, 0);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: capitalize;

 
}

.user_input,.password_input{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(161, 180, 198);
  outline: none;
 background: none;

}
.login_header{
  font-size: 40px;
  margin-top: -8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(191, 238, 103);
  text-transform: capitalize;
}
.regis_header{
  text-align: end;
  cursor: pointer;
}
.register{
color: rgb(21, 255, 165);
}
.login{
 color: rgb(0, 255, 221);
}
.register:hover{
  color: rgb(255, 99, 99);
 
}
.login:hover{
  color:rgb(202, 255, 12)
}
._parent_app{
  border: 1px solid black;
  width:350px;
      margin-top: 30px;
  border-radius: 8px;
  animation-name:  zoom-in-zoom-out ;
  animation-duration: 4s;
  animation-iteration-count: 1;
  margin: auto;


}
@keyframes zoom-in-zoom-out {
  0% {
  transform: scale(0.1, 0.1);
  }
 
  100% {
  transform: scale(1.0, 1.0);
  }
  }

.button{
  width: 100px;
  height: 35px;
  background-color: rgb(246, 110, 201);
 color: #000000;
  border-radius: 10px;
  margin-top: 15px;

}
.button:hover{
  background-color: rgb(2, 251, 251);
  color: rgb(161, 7, 110);
  border-radius: 15px;
}
.animi{
  text-align: center;
  font-size: 50px;
  color: rgb(26, 255, 83);
}
._body{
  background-image: linear-gradient( rgb(107, 155, 182), rgb(4, 68, 128));
  min-height: 100vh;
}
.image{
  position: fixed;
  top: 0;
  left: 180px;
}
.image img{
  width: 100px;
}
.header_lable{
  padding: 17px;
}
.wel{
  color: rgb(2, 247, 255);
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px #ffffff;

}
.web{
  color: rgb(2, 247, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px #ffffff;
}
.user{
 
  color: #ffffff;
  
}
.pass{
  color: #ffffff;
  margin-top: 10px;
}

.err_message{
  color: rgb(247, 95, 95);
}
@media only screen and (max-width: 600px) {
 .image{
  display: none;
 }
 .header_lable{
  font-size: 26px;
 }
 ._parent_app{
  width: 100%;
 }
 ._body{
  min-height: 100vh;
 }
  }